<% layout("layout/boilerplate.ejs") %>

<div style="background-color: white; height: 100vh">
  <!-- <div class="row" style="margin-bottom: 40px"> -->
  <h1 class="text-center">New Blog</h1>
  <div class="col-md-6 offset-3">
    <form
      class="needs-validation"
      action="/blogs"
      method="post"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control form-text"
          type="text"
          name="title"
          id="title"
          placeholder="Title"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          name="description"
          id="description"
          placeholder="Description"
          required
        ></textarea>
      </div>

      <br />
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
  <!-- </div> -->
</div>
