<% layout("layout/boilerplate.ejs") %> 

<div class="main-container">
    <div>
      <h1>The easiest way to blog</h1>
      <p>Used by the world's best bloggers</p>
    </div>
    <form action="/register">
      <button class="register-btn" type="submit">
        Create blog for Free
      </button>
    </form>
  </div>